<h2>Celebrity Details</h2>

<h5>{{name}}</h5>
<p>Occupation: {{occupation}}</p>
<p>catch Phrase: {{catchPhrase}}</p>


{{!-- <form action="/movies/{{getMovie.id}}/edit" method="GET">
  <button type="submit">Edit Movie</button>
</form>

<form action="/movies/{{getMovie.id}}/delete" method="POST">
  <button type="submit">Delete Movie</button>
</form>  --}}