<h2>Movie Details</h2>

<h5>{{getMovie.title}}</h5>
<p>Genre: {{getMovie.genre}}</p>
<p>Plot: {{getMovie.plot}}</p>
<p>Cast:</p>
<ul>
  <li>Name: {{getMovie.cast.name}}</li>
  <li>Occupation: {{getMovie.cast.occupation}}</li>
  <li>Catch Phrase: {{getMovie.cast.catchPhrase}}</li>
</ul>

<form action="/movies/{{getMovie.id}}/edit" method="GET">
  <button type="submit">Edit Movie</button>
</form>

<form action="/movies/{{getMovie.id}}/delete" method="POST">
  <button type="submit">Delete Movie</button>
</form> 